---
layout: archive
title: "The Third Eye: A Shopping Assistant for Visually Impaired"
permalink: /portfolio/
author_profile: true
---

<center><br class="auto-style2">
<table width="1000" style="height: 78px">
	<tbody><tr>
		<td class="auto-style2">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" class="title" colspan="99">
		<h1 class="auto-style4">The Third Eye: A Shopping Assistant for the Visually Impaired</h1>
		<h3 class="auto-style4">Visual Cortext on Silicon project, an NSF Expedition in Computing</h3>
		</td>
	</tr>
	</tbody>
</table>

<table width="800">
    <tbody>
        <tr>
        <td style="width: 812px"><div class="auto-style3">My Research</div>
		<div>I have been investigating a feasibility of smart camera prosthetic devices that assist people with visual impairments (PVI) for their grocery shopping. I have particularly been investigating and designing a feedback interface for assisting them for their hand and arm navigation for an object acquisition. For this project, I conducted two field studies with participatory design and ethnographic approach and two experimental lab studies for the prototype and feedback interface design evaluation. Below shows further details of these studies. I am currently interested in developing a guidance for designing an interactive dialog system for assisting people with visual impairments. I am conducting interview studies to gather requirements and designing/developing an interactive dialog system prototype.
        <tr>
        <div>
            <video width="640" controls>
                <source src="videos/vid1027-file3.mp4" type="video/mp4">
            </video>
        </div>
        <div>
        </div>
        <br>
    </tbody>
</table>
</font>


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

